.CurrentWeather {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 10vh;
}

.weather-card {
    display: flex;
    flex-direction: column;
    margin-left: 10vh;
}

.degrees {
    font-size: 50px;
}