.WeatherPanel {
    display: flex;
    flex-direction: column;
}

.location-hdr {
    display: flex;
    margin: 7vh;
    font-size: 30px;
}

.day-ctr {
    display: flex;
    justify-content: space-evenly;
}