.Search {
    margin: 10px;
    display: inline-flex;
}

.Search input[type=text] {
    box-sizing: border-box;
    border: 2px solid #555;
    border-style: none none solid none;
    outline: none;
    background: transparent;
    text-align: center;
}

.Search input[type=text]:focus, input[type=text]:hover {
    background-color: lightgray;
    border-color: orange;
}

.Search button {
    color: black;
    text-align: center;
    font-size: 16px;
    border: 1px solid #555;
    cursor: pointer;
    padding: 10px;
    margin: 0 10px;
    background: transparent;
}

.Search button:hover {
    border-color: orange;
    background-color: lightgray;
}
